:root {
    --active-anchar-tag-color:#231F20;
    --h1-color:#8D9CB5;
    --h2-color:#252525;
    --sidebar-bg-color:#FBFBFB;
    --body-bg-color:#ffffff;
    --content-color:#322D3E;
    --side-bar-link-color:#576172;
    --body-color:  hsla(0, 0%, 0%, 0.87);
    --active-anchor-border-color:#F3F3F3;
    --header-border-color:#F5F5F5;
    --display-dark:block;
    --display-white:none
  }
  @media screen {
    [data-md-color-scheme="slate"] {
        --active-anchar-tag-color:#f7f8fb;
        --h1-color:#8D9CB5;
        --h2-color:#252525;
        --sidebar-bg-color:#2e303e;
        --body-bg-color:hsla(232, 15%, 21%, 1);
        --content-color:hsla(232, 75%, 95%, 1);
        --side-bar-link-color:hsla(232, 75%, 95%, 1);
        --body-color:hsla(232, 75%, 95%, 1);
        --active-anchor-border-color:#9e9e9e1f;
        --header-border-color:#9e9e9e1f;
        --display-dark:none;
        --display-white:block
    }
  }
  .overview {
    display: flex;
    align-items: center;
  }
  .maincard {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
   
  }
  .maincard a {
    width: 50%;
    display: flex;
    
  }
 .maincard .heading {
    font-weight: 700!important;
    font-size: .8rem!important;
 }
  .maincard a:hover .card{
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.12);
    border: 1px solid #F0F0F0;

  }
  .maincard .card {
    width: 98%;
    display: flex;
    padding: 15px;
    transition:all 0.5s ease-in-out;
    border: 1px solid var(--active-anchor-border-color);
    justify-content: space-between;
    align-items: center;
  }
  .maincard h4, .maincard p {
    margin: 4px 0;
  }
  .maincard .card img {
    width: 32px;
    height: 32px;
    margin-left: 15px;
  }
.logo_dark{
    display: var(--display-dark) !important;
}
.logo_white{
    display: var(--display-white) !important;
}
body{
    background: var(--body-bg-color);
    color:var(--body-color);
}
body .md-nav__title {
    visibility: hidden!important;
}
.md-header, .md-tabs{
    background: var(--body-bg-color);;
}

.md-footer-copyright{
    display: none;
}
.md-footer-meta__inner{
    justify-content:flex-end;
}
.md-header-nav__button.md-logo{
    padding:0.3rem;
}
.md-header-nav__title{
    padding-left: 0;
}
.md-header-nav__topic{
    font-weight: 600;
}
.md-tabs__item a{
    font-weight: 600;
}

.md-header-nav__button.md-logo img, .md-header-nav__button.md-logo svg, .md-header__button.md-logo img, .md-header__button.md-logo svg{
    width: 145px;
    height: auto;
}

.md-header-nav__button.md-logo, .md-header__button.md-logo{
    display: block;
}

.md-header-nav__title>.md-header-nav__ellipsis, .md-header__ellipsis {
    display: none;
}

.md-header__button.md-logo{
    width: 14.1rem;
}

.md-header[data-md-state=shadow]{
    box-shadow: none;
    border-bottom: 1px solid var(--header-border-color);
}
.md-header{
    padding: 10px 0;
}
.md-main__inner{
    margin-top: auto;
}


.md-sidebar.md-sidebar--secondary{
    display: none;
}
.md-sidebar__inner{
    height: 100%;
}

.md-sidebar__inner .md-nav--primary{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.md-nav--primary .md-nav__title~.md-nav__list{
    flex: 1;
}
.md-sidebar.md-sidebar--primary .md-sidebar__inner .md-nav__list .md-nav__item--nested{
    border-bottom: 1px solid var(--active-anchor-border-color);
}

.md-sidebar.md-sidebar .md-sidebar__inner .md-nav__list .md-nav__item .md-nav__link--active,
.md-sidebar.md-sidebar .md-sidebar__inner .md-nav__list .md-nav__item .md-nav__link:focus, .md-nav__link:hover,
.md-typeset :target>.headerlink, .md-typeset .headerlink:focus, .md-typeset .headerlink:hover,
.md-tabs__link--active, .md-tabs__link:hover{
   color: var(--active-anchar-tag-color) !important;
}

.md-sidebar.md-sidebar .md-sidebar__inner .md-nav__list .md-nav__item .md-nav__link{
    font-size: 14px;
    line-height: 18px;
    color: var(--side-bar-link-color);
    font-weight: 500;
}
.md-footer-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.md-footer-social__link{
    height: auto;
}
.md-footer-social .md-header__option label{
padding:0;
margin: 0;
}
.md-footer-social__link svg{
    fill:  var(--side-bar-link-color);
}
.md-header__button{
    color: var(--side-bar-link-color);
}

.md-sidebar.md-sidebar .md-sidebar__inner .md-nav__list .md-nav__item .md-nav a.md-nav__link--active::before{
    background-color: #E50913;
}
.md-sidebar.md-sidebar .md-sidebar__inner .md-nav__list .md-nav__item .md-nav a::before{
    display: inline-block;
    content: '';
    height: 0.3rem;
    width: 0.3rem;
    margin-bottom: 1px;
    margin-right: 0.5rem;
    background-color: #bdbdbd;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
}

.md-content__inner.md-typeset h1{
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: var(--h1-color);
    text-transform:uppercase;
}
.md-content__inner.md-typeset h2{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: var(--h1-color);
}
.md-content__inner.md-typeset p, .md-content__inner.md-typeset ul li{
    font-weight: normal;
    font-size: 14px;
    line-height: 1.8;
    color:var(--content-color);
}

.md-source__repository{
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: var(--h1-color);
}
.md-source__repository li{
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    color: var(--active-anchar-tag-color);
}
@media screen and (max-width: 570px) {
    .maincard {
        flex-direction: column;
    }
    .maincard a {
        width: 100%;
    }
    .maincard .card {
        width: 100%;
        margin: 5px 0;
    }
    .overview {
        flex-direction: column;
    }
}
@media screen and (min-width: 60em)
{
    .md-search__input {
        height: 2.2rem;
    }
    .md-search__inner {
        width: 14.7rem;
    }
    .md-search__icon[for=__search]{
        top: 0.55rem;
    }
    [data-md-color-primary=white] .md-search__input+.md-search__icon{
        color:rgba(141, 156, 181, 0.8);
    }
    .md-header__title{
        display: none;
    }
    [data-md-color-primary=black] .md-search__input{
        background-color: rgba(0,0,0,.26);
    } 
    [data-md-color-primary=white] .md-search__input{
        background-color: #F5F5F5
    }
}

@media screen and (max-width: 76.1875em) {
    .md-header-nav__button.md-logo, .md-header__button.md-logo{
        left: 30px;
    }
}

@media screen and (max-width: 76.25em){
    .md-header-nav label:nth-of-type(1), .md-header__inner label:nth-of-type(1){
        position: absolute;
    }
    .md-nav--primary .md-nav__title .md-logo img{
        height: auto;
        width: 5.4rem;
    }
}

@media screen and (min-width: 76.25em)
{
    .md-sidebar.md-sidebar--primary{
        background-color: var(--sidebar-bg-color);
        width: 14.1rem;
    }
    .md-sidebar.md-sidebar--primary .md-sidebar__scrollwrap{
        background-color: var(--sidebar-bg-color);
        margin: 0;
    }
    .md-sidebar.md-sidebar--primary nav:first-child{
        padding-right: 25px;
    }
    .md-sidebar.md-sidebar .md-sidebar__inner .md-nav__list .md-nav__item .md-nav__link{
        padding: 10px 0;
    }
    .md-header__source {
        margin-left: auto;
    }
    .md-sidebar.md-sidebar .md-sidebar__inner .md-nav__list .md-nav__item .md-nav:first-child{
        padding-bottom: 10px;
    }
    .md-sidebar.md-sidebar .md-sidebar__inner .md-nav__list .md-nav__item .md-nav a{
        padding: 8px 0 8px 10px;
        margin: 0;
    }
    .md-sidebar.md-sidebar .md-sidebar__inner .md-nav__list .md-nav__item .md-nav a img{
        display: none;
    }
    .md-sidebar.md-sidebar .md-sidebar__inner .md-nav__list .md-nav__item .md-nav .md-nav a{
        padding: 0 0 12px 10px;
        margin: 0;
    }
    .md-sidebar--secondary:not([hidden])~.md-content>.md-content__inner{
        padding-left: 80px;
        padding-top: 1rem;
    }
    .md-nav__item--nested .md-nav__toggle:checked~.custom-nav-link .md-nav__icon, .md-nav__item--nested .md-nav__toggle:indeterminate~.custom-nav-link .md-nav__icon {
        transform: rotate(90deg);
    }
}

.custom-nav-link{
    display: block;
}
.custom-nav-icon{
    display: inline;
}
.custom-nav-icon img{
    padding-right: 10px;
}


